Basic Arithmetic

In [1]:
# Addition
2+1

3

In [2]:
# Subtraction
2-1

1

In [3]:
# Multiplication
2*2

4

In [4]:
# Division
3/2

1.5

In [5]:
# Floor Division
7//4

#The reason we get this result is because we are using "floor" division. 
#The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

1

In [6]:
# Modulo
7%4

3

In [7]:
# Powers
2**3

8

In [8]:
# Can also do roots this way
4**0.5

2.0

In [9]:

# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [10]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [11]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [12]:
# Adding the objects
a+a

10

In [13]:

# Reassignment
a = 10

In [14]:
# Check
a

10

Python allows you to write over assigned variable names. 

We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [15]:
# Check
a

10

In [16]:
# Use A to redefine A
a = a + a

In [17]:
# Check 
a

20

The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.

2. There can be no spaces in the name, use _ instead.

3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+

4. It's considered best practice (PEP8) that names are lowercase.

5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.

6. Avoid using words that have special meaning in Python like "list" and "str"

Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [18]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [19]:
# Show my taxes!
my_taxes

10.0